.card-wrapper {
    display: inline;
    margin: 1rem;
}

.item {
    height: 5px;
    background-color: red;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.003);
}

.warehouse {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.03);
}

.edit {
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
    color: black;
    font-weight: 900;
    font-size: large;
    cursor: default;
}

.edit:hover {
    color: blue;
}

.machine {
    height: 5px;
    background-color: blue;
}