* {
	box-sizing: border-box;
}

.modal {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	height: 7rem;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.name {
	font-size: 20px;
	color: rgba(108, 107, 107, 0.9);
}

.section {
	flex-basis: 50%;
	margin-top: 1rem;
	margin-left: 1rem;
}

.inventory-input {
	background-color: whitesmoke;
	border-width: 0 0 3px 0;
	width: 95%;
	border-color: rgba(85, 84, 84, 0.6);
}

.inventory-input:focus {
	outline: none;
	border-color: black;
}

.add-new-button {
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: #5393ff;
	height: 5rem;
	width: 5rem;
	text-align: center;
	line-height: 5rem;
	font-size: 42px;
	color: white;
}

.add-new-button:hover {
	background-color: #2979ff;
}

.none {
	display: none;
}

.form {
	position: fixed;
	width: 300px;
	height: 300px;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border-radius: 10px;
	padding: 1rem;
}

.form > form {
	margin: 1rem;
}

.close-button {
	cursor: pointer;
	align-self: flex-end;
	margin: 0.5rem;
}

.input {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.text-field {
	width: 100%;
	border-radius: 5px;
	border-width: 1px;
}


.modal-content {
	height: 0;
}

.close-button:hover {
	color: white;
}
