* {
	box-sizing: border-box;
}

.wrapper {
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	height: 7rem;
	justify-content: space-between;
	align-items: flex-start;
}

.name {
	font-size: 20px;
	color: rgba(108, 107, 107, 0.9);
}

.add-button {
	display: inline-block;
	background-color: gray;
	color: white;
	position: relative;
	top: 10px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0px 1px 2px black;
	padding: 0 0.5rem 0 0.5rem;
	transition: background-color 0.3s;
}

.add-button:hover {
	background-color: black;
}

.section {
	flex-basis: 50%;
	margin-top: 1rem;
	margin-left: 1rem;
	height: 100%;
}

.inventory-input {
	background-color: whitesmoke;
	border-width: 0 0 3px 0;
	width: 95%;
	border-color: rgba(85, 84, 84, 0.6);
}

.inventory-input:focus {
	outline: none;
	border-color: black;
}

.add-new-button {
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background-color: #5393ff;
	height: 5rem;
	width: 5rem;
	text-align: center;
	line-height: 5rem;
	font-size: 42px;
	color: white;
}

.add-new-button:hover {
	background-color: #2979ff;
}

.none {
	display: none;
}

.form {
	position: fixed;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: solid 1px lightgrey;
	box-shadow: 3px 3px 2.5px lightgray;
	padding: 1rem;
}

.form > form {
	margin: 1rem;
}

.close-button {
	cursor: pointer;
	align-self: flex-end;
	margin: 0.5rem;
}

.input {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.text-field {
	width: 100%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0px;
}

.text-field:focus {
	outline: 0;
	border-bottom: solid 2.5px;
	animation: color 2s linear infinite alternate;
}

.inventory-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.9);
}

.close-button:hover {
	color: rgb(9, 152, 192);
}

.page-content {
	height: 100%;
}

@keyframes color {
	0% {border-color: blue}
	25% {border-color: green;}
	50% {border-color: red}
	75% {border-color: green;}
	100% {border-color: blue}
}
