
.nav-wrapper {
    width: 100%;
    height: 3rem;
    background-color: rgb(167, 212, 239);
    padding: 0 1rem 0 1.5rem;
    border-bottom: 2px solid rgb(97, 175, 198);
}

.nav-bar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.button-wrapper {
    flex-basis: auto;
    text-decoration: none;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5rem;
}


.button {
    background-color: rgb(167, 212, 239);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

#inventory {
    overflow: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3rem;
}

#menu {
    cursor: pointer;
}

.material-icons {
    font-size: x-large;
    padding-top: 4px;
}



