a {
    text-decoration: none;
}

.warehouse-menu {
    display: flex;
    padding: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
}

.list-content {
    width: 100%;
}

.warehouse-main {
    background-color: rgba(213, 208, 208, 0.495);
    height: 100%;
}

.transactions {
    flex-basis: 30%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
    margin-right: 2rem;
}

.transactions-content {
    height: 94%;
    overflow: auto;
}

.title {
    font-size: 2rem;
    padding-left: 0.5rem;
    background-color: #6162639b;
    color: white;
    margin-bottom: 0;
}

.items-list {
    flex-basis: 70%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}

.warehouse-content {
    height: 100%;
}

.add-button:hover {
    color: white;
}

.list-content td{
    padding-left: 0.5rem;
}

.list-content th {
    text-align: center;
    padding: 0;
    border-style: none;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    background-color: #6162639b;
}

.list-content .item-cell {
    height: 2rem;
}

.list-content .item {
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.list-content .op-btns {
    padding: 0;
}
.buy-btn {
    background-color: #29b6f6;
    padding-left: 0;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s;
}

.sell-btn {
    background-color: #ff1744;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s;
}

.buy-btn:hover {
    background-color: #0288d1;
}

.sell-btn:hover {
    background-color: #b2102f;
}