a {
    text-decoration: none;
}

.warehouse-menu {
    display: flex;
    padding: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.warehouse-main {
    background-color: whitesmoke
}

.transactions {
    flex-basis: 30%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
    margin-right: 2rem;
}

.title {
    font-size: 24px;
    padding-left: 0.5rem;
    border-bottom: solid 1px;
    background-color: #6162639b;
    color: white;
    margin-bottom: 0;
}

.items-list {
    flex-basis: 70%;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: black;
}